/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #480ca8;
    color: white;
    padding: 10px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  /* Home Page styles */
  main h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  main p {
    font-size: 24px;
    margin-bottom: 40px;
  }
  
  /* Available Images Page styles */
  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .image-card {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .image-card img {
    max-width: 100%;
  }
  
  .image-card h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  
  .image-card p {
    font-size: 18px;
    margin-top: 10px;
  }
  
  /* Detailed Image Page styles */
  .detailed-image {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .detailed-image img {
    max-width: 100%;
    margin-bottom: 20px;
  }
  
  .detailed-image h2 {
    font-size: 36px;
    margin-bottom: 10px;
  }
  
  .detailed-image p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .buy-now-button {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .buy-now-button:hover {
    background-color: blueviolet;
  }